.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-back {
  background-color: $card-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 96px;
  transform: rotateY(180deg); /* <-- important */
  border-radius: 50%;
}
