@import '../_variables';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        @include typo-h1;
    }

    h2 {
        @include typo-h2;
        margin: 0;
    }

    .pandora {
        @include img-home;
    }

    .card {
        cursor: pointer;
        transition: 0.3s ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

