@import '../_variables';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        @include typo-h1;
    }

    h2 {
        @include typo-h2;
        margin: 0;
    }

    .pandora {
        @include img-home;
    }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  width: 80%;
  margin: 30px auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;  // reste dans sa case de grille
}

.perso-img {
  width: 200px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.perso-img:hover {
  transform: scale(1.05);
}

.story-box {
  margin-top: 10px;
  padding: 12px;
  background: #ffffff25;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  width: 90%;
  text-align: center;
  animation: fadeIn 0.2s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
