@import '../_variables';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        @include typo-h1;
    }

    h2 {
        @include typo-h2;
        margin: 0
    }

    .pinpin {
        @include img-home;
    }
}

@media screen (max-width: 800px) {
    h1 {
        color: red;
    }
}