.personnage-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-button {
  margin: 15px 0;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
}

.detail-img {
  width: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.description {
  margin-top: 15px;
  line-height: 1.6;
  background: #ffffff20;
  padding: 20px;
  border-radius: 12px;
}
