@import '../_variables';

.decription-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #f8f6f0; // couleur claire pour le fond
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  
}