@import '../_variables';

button {
    @include typo-btn;
    margin: 32px;

    &:hover {
        top: -4px;
        box-shadow: 0 0 20px $main-item-color;
    }
}

.decription-container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 24px;
    background-color: $card-color;
    border-radius: 20px;
    max-width: 75%;

    .description {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: $text-color;

        h2, h3 {
            text-align: start;
            color: $main-item-color;
        }

        h3 {
            @include typo-h3;
        }

        p {
            
        }
    }
}