@import '../_variables';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        @include typo-h1;
    }

    h2 {
        @include typo-h2;
        margin: 0;
    }

    .bottom-h2 {
        margin: 64px
    }

    .pandora {
        @include img-home;
    }

    .input-container {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 920px;

        .search-bar {
            width: 100%;
            height: 80px;
            padding-left: 96px;
            padding-right: 24px;
            border-radius: 100px;
            border: 1px solid $card-color;
            background-color: rgba(247, 250, 252, 0.5);
            color: #F7FAFC;
            font-family: $main-font;
            font-size: 32px;
            font-weight: bold;
            outline: none;
            box-sizing: border-box;

            &::placeholder {
                color: #F7FAFC;
                font-family: $main-font;
            }
        }

        img {
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 60px;
            pointer-events: none;
        }
    }

    .cards-container {
        margin-top: 96px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 88px;

        .card {
            flex: 0 0 calc(33.33% - 24px);
            border-radius: 100%;
            cursor: pointer;
            transition: 0.3s ease-out;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 20px $main-item-color;
            }
        }
    }
}

// Responsive Tablette

// Responsive Tablette
@media (max-width: 1224px) {
    .encyclopedie {

        h1 {
            @include typo-Rh1;
        }

        h2 {
            @include responsive-typo-h2;
        }

        .input-container {
            max-width: 60%;

            .search-bar {
                width: 100%;
                height: 60px;
                font-size: 16px;
                padding-left: 80px;
                padding-right: 16px;

                &::placeholder {
                    font-size: 16px;
                }
            }

            img {
                width: 40px;
                height: 40px;
                left: 16px;
            }
        }

        .cards-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Responsive Mobile

// Responsive Mobile
@media (max-width: 800px) {
    .encyclopedie {
        .cards-container {
            grid-template-columns: 1fr;
            gap: 24px;
        }

        .input-container {
            max-width: 80%;

            .search-bar {
                font-size: 12px;
                padding-left: 48px;
                padding-right: 16px;

                &::placeholder {
                    font-size: 12px;
                }
            }

            img {
                width: 30px;
                height: 30px;
                left: 12px;
            }
        }
    }
}