@import '../_variables';

.jeux {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        @include typo-h1;
    }

    h2 {
        @include typo-h2;
        margin: 0;
    }

    .nox {
        @include img-home;
    }

    .games-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin: 40px auto 0 auto;
        gap: 40px;
    }
}

/* Responsive Tablette */

@media (max-width: 1024px) {
  .jeux {

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
    }

    .games-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* Mobile */
@media (max-width: 600px) {
  .jeux {
    .games-container {
      grid-template-columns: 1fr;
    }
  }
}