@import '../_variables';

div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include typo-h1;
        
    }

    h2 {
        @include typo-h2;
        margin: 0
    }

    .pinpin {
        margin: 64px 0 0 0;
        
        border: 0;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
}