@import '../_variables';

.accordeon-container {
    margin-top: 64px;
    text-align: center;
    align-items: center;

    .accordeon-item {
        cursor: pointer;
        border-radius: 25px;
        margin: 40px;

        img {
            display: block;
            border-radius: 25px;
            transition: 0.3s ease-out;

            &:hover {
                transform: scale(1.02);
            }
        }

        p {
            @include typo-p;
            text-align: center;
            width: 75%;
        }
    }
}

@media (max-width: 1240px) {
    .accordeon-container {

        h2 {
            @include responsive-typo-h2;
        }

        .accordeon-item {
            
            img {
                width: 80%;
            }

            p {
                @include responsive-typo-p;
            }
        }
    }

}