@import '_variables';

body {
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $main-font;
    color: $text-color;
    margin: 0;
    
}