@import '../_variables';

.footer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background: #080808;
}

.footer-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;

    .footer-img {
        width: 30%;
        max-width: 400px;
        border-radius: 20px;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }
    }
}

.footer-logo img {
    width: 120px;
    opacity: 0.7;
    transition: 0.3s;

    &:hover {
        opacity: 1;
    }
}
