@import '../_variables';

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $card-color;
    width: 100%;
    box-shadow: 4px solid $ma;

    .top-footer {
        display: flex;
        flex-direction: row;
        
    }
}