@import '../_variables';

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $;

    .top-footer {
        display: flex;
        flex-direction: row;
    }
}