@import '../_variables';

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $card-color;
    width: 100%;
    outline: 4px solid $main-item-color;
    box-shadow: 0 0 40px $main-item-color;

    .top-footer {
        display: flex;
        flex-direction: row;

        .middle-top-footer {

            img {
                width: 100%;
            }

            .footer-nav {
                display: flex;
                gap: 24px;
                justify-content: center;
                position: relative;
                transition: 0.3s ease-out;

                a {
                    top: 0;
                    position: relative;
                    margin: 0 16px;
                    text-decoration: none;
                    color: $text-color;
                    font-weight: bold;
                    font-size: 24px;
                    font-weight: bold;
                    transition: 0.3s ease-out;

                    &:hover {
                        color: $main-item-color;
                        top: -4px;
                    }
                }
            }
        }
    }
}