@import '../_variables';

div {
    margin-top: 64px;
    text-align: center;
    align-items: center;

    .accordeon-item {
        cursor: pointer;
        border-radius: 25px;

        &:hover {
            transform: scale(1.02);
        }

        img {
            border-radius: 25px;
            transition: 0.3s ;

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}