@import '../_variables';

div {
    margin-top: 64px;
    text-align: center;
    align-items: center;

    .accordeon-item {
        cursor: pointer;
        transition: 0.3s;
        border: 2px solid $main-item-color;
        box-shadow: 0 0 20px $main-item-color;

        &:hover {
            transform: scale(1.02);
        }

        img {
            
        }
    }
}